<h1>**Url Shortener application guide**</h1>
<h2>How to install the application:</h2>
<ul>
<li>Import the project - UrlShortener.zip into existing <strong>Eclipse or STS(Recommended)</strong> workspace as maven project.</li>
<li>Run the maven install command to download the project dependencies.</li>
</ul>
<h2>How to launch the application:</h2>
<p>The application can be launch using 2 different ways.</p>
<ol>
<li>Run as sprint boot app<br />Project -&gt; right click -&gt; Run as - &gt; Spring Boot App<br /><br />OR<br /><br /></li>
<li>Run as java -jar<br /><br />i) Package project into jar<br />Project -&gt;right click -&gt; Run as - &gt; maven build<br />This generates urlshortener.jar<br /><br />ii)Go to project directory -&gt; /target<br />From terminal/cmd execute java -jar urlshortener.jar<br /><br /></li>
<li>The application is accessible over <em><strong><a href="http://localhost:9090/urlshortener/">http://localhost:9090/urlshortener/</a><a href="http://localhost:9090/urlshortener/"><br /></a><br /></strong></em>Note: The port can be configured in application.properties</li>
</ol>
<h2>How to use the application</h2>
<ul>
<li>
<h3><strong>Register a new account</strong></h3>
A new user account can be registered using the following REST API endpoint.<br /><br /><strong>URI</strong>:&nbsp;<a title="http://localhost:9090/urlshortener/account" href="http://localhost:9090/urlshortener/account"><em><strong>http://localhost:9090/urlshortener/account</strong></em></a><br /><strong>METHOD: POST</strong><br /><strong>Request payload sample</strong>:<br />
<table border="1">
<tbody>
<tr>
<td>{<br /> "accountId":"monil"<br />}</td>
</tr>
</tbody>
</table>
<strong><br />Authentication required:</strong> No<br /><strong><br />Successful resonpse sample:</strong><br />
<table border="1">
<tbody>
<tr>
<td>{<br /> "success": true,<br /> "description": "Your account is opened. Account ID is: monil",<br /> "password": "2OqcOXzM"<br />}</td>
</tr>
</tbody>
</table>
</li>
</ul>
<ul>
<li>
<h3><strong>Register a URL</strong></h3>
A valid user with accountId can register a web url. The application generates a short url which can later to be used to visit the original url.<br /><br /><strong>URI</strong>:&nbsp;<a title="http://localhost:9090/urlshortener/register" href="http://localhost:9090/urlshortener/register"><em><strong>http://localhost:9090/urlshortener/register</strong></em></a><br /><strong>METHOD: POST</strong><br /><strong><strong>Request payload sample<br /></strong></strong>
<table border="1">
<tbody>
<tr>
<td>{<br /> "url":"https://www.google.com/search?q=what+is+url+shortening+service&amp;oq=what+is+url+short&amp;aqs=chrome.2.69i57j0l5.5990j0j7&amp;sourceid=chrome&amp;ie=UTF-8"<br />}</td>
</tr>
</tbody>
</table>
<strong><br />Authentication required:</strong>&nbsp;Yes<br />Basic authentication<br />username: accountId(registered as above)<br />password: 8 digit password generated during the account registration<br /><strong><strong><br />Successful resonpse sample:<br /></strong></strong>
<table border="1">
<tbody>
<tr>
<td>{"shortUrl": "http://localhost:9099/urlshortener/short.url/bBVqWU"}</td>
</tr>
</tbody>
</table>
</li>
<li>
<h3><strong>Use Short url</strong></h3>
The short url generated above can be used to redirect to the original Url directly in a web browser.<br /><br /></li>
</ul>
<ul>
<li>
<h3><strong>Check statistic of registered URLs for a valid accountId</strong></h3>
A valid accountId user can check statistic of registered urls and the number of hits of that url<br />The hit gets updated the number of times a user uses the short-url to redirect to the original url.<br /><br /><strong>URI</strong>:&nbsp;<em><strong><a title="http://localhost:9099/urlshortener/statistic/accountId" href="http://localhost:9099/urlshortener/statistic/accountId">http://localhost:9090/urlshortener/statistic/accountId</a></strong></em><br /><strong>METHOD:&nbsp;GET</strong><strong><br />Authentication required:</strong>&nbsp;Yes<br />Basic authentication<br />username: accountId(registered as above)<br />password: 8 digit password generated during the account registration<br /><strong><strong><br />Successful resonpse sample:<br /></strong><br /></strong>The response is the Key-Value pair of registered urls with the number of hits on them using the shortener url
<table border="1">
<tbody>
<tr>
<td>
<pre>{
 "https://news.google.co.in/nwshp?hl=en&amp;tab=wn&amp;authuser=0&amp;ei=xysIWcGDHIjavgSAo52IAw&amp;ved=0EKkuCAgoBw" : 1,
 "https://www.google.com/search?q=what+is+url+shortening+service&amp;oq=what+is+url+short&amp;aqs=chrome.2.69i57j0l5.5990j0j7&amp;sourceid=chrome&amp;ie=UTF-8" : 0,
 "https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html" : 2
}</pre>
</td>
</tr>
</tbody>
</table>
<br /><br /></li>
</ul>
<h2>Technology stack used in the application:</h2>
<ul>
<li>Spring boot</li>
<li>Spring security&nbsp;</li>
<li>Spring data</li>
<li>Core java</li>
<li>Database: <br />In memory DB: H2<br />accessbile over:&nbsp;<em><strong><a href="http://localhost:9090/urlshortener/h2/">http://localhost:9090/urlshortener/H2</a></strong></em><br />username: sa<br />password: &lt;&lt;blank&gt;&gt;</li>
</ul>
<p>This help doc is also available once the application is deployed using&nbsp;<em><strong><a title="http://localhost:9090/urlshortener/help" href="http://localhost:9090/urlshortener/help">http://localhost:9090/urlshortener/help</a></strong></em></p>